<main class="container-title"> 
  <div class="div_title">
      <h1>Welcome to our Survey Site</h1>
      <a href="/surveys" id="big_button"><span> Let's create Survey</span></a> 
    </div>
    <br>  <br>  <br>  <br>  <br>
    </main>